*{
    margin: 0;
    padding: 0;
}
body{
    width: 900px;
    margin-left: 20%;
    background: url("https://www.teahub.io/photos/full/30-304176_downlo…paper-background-cell-solid-color-cobalt-blue.jpg");
    /* background: #2a0cec; */
    color: #f7f5f5;
}
div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}
#submit{
    display: inline-block;
    background: #7564e5;
    border: 0px none;
    margin-left: 45%;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 12px 30px;
    color: #fff;
    text-transform: capitalize;
    transition: all 0.4s ease;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}
#submit:hover{
    background: #333;
    color:#fff;
}

#hero{
    text-align: center;
}